*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background: #1E2028;
}

.maskL {
    width: 100%;
    height: 100%;
    background: #203A43;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    opacity: 0;
}

.loader-5 {
    height: 72px;
    width: 72px;
    -webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-5-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-5::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    width: 8px;
    height: 8px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(24px, 0, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-2 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(24px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-5::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-3 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(-24px, 0, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-24px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 72px;
    width: 72px;
}

.loader-5 span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-4 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(0, 24px, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(0, 24px, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.loader-5 span::after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-5-5 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        -webkit-transform: translate3d(0, -24px, 0) scale(.5);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5-5 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(0, -24px, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

/* Animation Scroll */
.js-scroll {
    opacity: 0;
    transition: opacity 1000ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 3s ease-in-out both;
}

.animation {
    animation: 3s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.wrapper {
    max-width: 1110px;
    margin: 0 200px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    height: 80px;
    background: #1E2028;
    padding: 30px 0 20px;
}
.top-logo {
    font-size: 30px;
    font-weight: 800;
}

.nav-links-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 17px;
    transition: 0.4s;
    color: #fff;
}

.link:hover {
    color: white;
}

.indicator {
    position: absolute;
    left: 0;
    height: 5px;
    background: #203A43;
    border-radius: 3px 3px 0 0;
    transition: 0.5s;
}

.consultation {
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    height: 20px;
    color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.consultation:hover {
    background: #203A43;
    border-color: #203A43;
}
/* BURGER */
.burger-burger {
    display: none;
    position: relative;
}

.burger {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.burger-menu {
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 30px;
    right: 0;
    background: #1E2028;
}

.active.burger-menu {
    opacity: 1;
}

.burger-link {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 30px;
    margin: 15px 0;
    transition: 0.4s;
    color: #fff;
}

.burger-link:hover {
    color: #A1C5E9;
}

.burger-menu-list {
    list-style: none;
}

.is-active .burger-span {
    transition: transform 0.6s cubic-bezier(.54, .1, .42, 1.48), width 0.6s ease-in;
}

.is-active .burger-span:first-child {
    transform: rotate(45deg) translate(0px, -12px);
}

.is-active .burger-span:nth-child(2) {
    transform: rotate(-45deg);
}

.is-active .burger-span:last-child {
    transform: rotate(45deg) translate(12px, 3px);
    width: 35px;
}

.burger-span {
    display: block;
    height: 2px;
    background-color: #fff;
    border-radius: 100px;
    transition: transform 0.6s cubic-bezier(.54, .1, .42, 1.48), width 0.6s ease-out;
}

.burger-span:not(:last-child) {
    margin-bottom: 5px;
}

.burger-span:first-child {
    transform-origin: 0 50%;
    width: 35px;
}

.burger-span:nth-child(2) {
    width: 45px;
}

.burger-span:last-child {
    transform-origin: 100% 50%;
    width: 55px;
}

/*  */


/* TOP */
.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 550px;
    border-radius: 10px;
    margin: 50px auto;
    background: url('./img/Img.jpg') center no-repeat;
    object-fit: cover;
}

.top-section-name-center {
    text-align: center;
    z-index: 3;
    margin: 0 auto 10px;
    width: 75%;
}

.top-section-name-center h1 {
    font-size: 72px;
    line-height: 92px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.top-section-name-center p {
    margin-bottom: 20px;
}

/* ABOUT */
.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 100px 0;
}

.section-about-h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 50px;
}

.section-about-block-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto 0;
}

.section-about-block {
    width: 45%;
    padding: 0 10px;
    background: #1E2028;
    margin: 10px;
}

.img-about {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 3px solid #203A43;
    position: relative;
    margin-left: 20px;
}

.h3-about {
    margin: 20px 0 0 20px;
    font-weight: 600;
    font-size: 26px;
    color: white;
}

.about-article {
    margin-left: 20px;
    color: white;
}

/* SERVICES */
.section-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.section-services-h2 {
    max-width: 600px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 70px;
}

.section-services-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-services-item {
    width: 30%;
    min-height: 200px;
    padding: 10px;
    background: #203A43;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px;
}

.section-services-item h3 {
    font-weight: 600;
    font-size: 24px;
}

.icon-menu {
    margin: 10px 0;
}

.link-item {
    display: block;
    margin: 10px 0 0 0;
    text-decoration: none;
    color: #A1C5E9;
    text-transform: uppercase;
    transition: 0.4s;
}

.link-item:hover {
    color: #fff;
}

/* PROJECTS */
.section-projects {
    margin-bottom: 100px;
}

.section-projects-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.section-projects-h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    max-width: 428px;
}

.link-projects {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A1C5E9;
    transition: 0.4s;
}

.link-projects:hover {
    color: #fff;
}

.section-projects-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-projects-item img {
    transition: 0.3s;
}

.section-projects-item img:hover {
    transform: scale(1.1);
}

/* TEAM */
.section-team {
    margin-bottom: 100px;
}

.section-team-h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 50px;
}

.section-team-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-team-item,
.section-team-item-reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 0 0 15px 10px;
}

.section-team-item-article {
    margin: 0 20px;
}

.section-team-item-h3,
.section-team-item-h3-reverse {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.section-team-item-p,
.section-team-item-p-reverse {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.section-team-item-h3,
.section-team-item-p {
    text-align: right;
}

.section-team-item-h3-reverse,
.section-team-item-p-reverse {
    text-align: left;
}

.section-team-item-img-1 {
    border: 3px solid #203A43;
    border-radius: 100px 0 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-team-item-img-2 {
    border: 3px solid #203A43;
    border-radius: 0 100px 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-team-item-img-3 {
    border: 3px solid #203A43;
    border-radius: 0 0 0 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-team-item-img-4 {
    border: 3px solid #203A43;
    border-radius: 0 0 100px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*SECTION-REVIEWS SWIPER */
.section-reviews {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.section-reviews-article {
    margin-right: 50px;
    max-width: 490px;
}

.section-reviews-article-h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
}

.section-reviews-article-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

.swiper-container {
    background: #203A43;
    max-width: 470px;
    position: relative;
    height: 100%;
    max-height: 420px;
    border-radius: 10px;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.slider-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    opacity: 0;
    background: #203A43;
    cursor: grab;
    padding: 35px;
}

.slider-image-wrapper {
    display: flex;
    min-height: 70px;
    overflow: hidden;
}

.slider-image {
    margin-right: 20px;
}

.slider-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.7s;
}

.slider-item>.slider-item-content>* {
    opacity: 0;
    transform: translateY(20px);
}

.swiper-slide-active>.slider-item-content>* {
    transform: translateY(0px);
    opacity: 1;
}

.slider-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    transition: 0.4s;
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translatex(-50%);
    z-index: 1;
    width: auto !important;
}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 12px;
    opacity: 1;
    background-color: #A1C5E9 !important;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.swiper-pagination-bullet-active {
    background: #fff;
    width: 20px;
    border-radius: 10px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    width: 8px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active-next {
    width: 8px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
    width: 8px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
    width: 8px;
}

.swiper-notification {
    display: none;
}

/* SECTION-CONTACT */
.section-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.section-contact-h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    max-width: 647px;
    margin-bottom: 30px;
    text-align: center;
}

.section-contact-counters {
    max-width: 777px;
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
}

.section-contact-counter {
    width: 239px;
}

.number {
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    animation: beer 5s linear forwards;
}

.section-contact-counter {
    border-left: 3px solid #203A43;
    border-right: 3px solid #203A43;
    margin: 0 10px;
}

.section-contact-counter-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #203A43;
    padding: 60px;
    border-radius: 10px;
}

.footer-item-h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}

.footer-item-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    width: 200px;
    margin: 20px 0;
}

.footer-item-h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.footer-item ul {
    list-style: none;
}

.footer-item li {
    margin-bottom: 10px;
}

.footer-item-page {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    transition: 0.4s;
}

.footer-item-page:hover {
    color: #A1C5E9;
}

.footer-item {
    position: relative;
}

.input {
    width: 255px;
    height: 40px;
    border-radius: 8px;
    background: #1E2028;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    outline: none;
    border: none;
    position: relative;
    z-index: 1;
}

.input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding: 10px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 15px;
    z-index: 3;
}

/* @media only screen and (max-width: 2160px) {
    .wrapper{
        margin: 0 500px;
    }
}
@media only screen and (max-width: 1800px) {
    .wrapper{
        margin: 0 350px;
    }
} */

@media only screen and (max-width: 1440px) {
    .section-projects-item img {
        width: 430px;
    }

    .section-reviews-article {
        max-width: 370px;
    }

    .section-team-item-img-1, .section-team-item-img-2, .section-team-item-img-3, .section-team-item-img-4 {
        width: 230px;
    }

    .footer-item {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1300px) {
    .wrapper {
        margin: 0 150px;
    }

    .consultation-top {
        display: none;
    }

    .section-projects-item img {
        width: 370px;
    }

    .swiper-container {
        width: 430px;
    }
}

@media only screen and (max-width: 1200px) {
    body, html {
        font-size: 12px;
    }

    .top-section-name-center h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .section-about-h2 {
        font-size: 26px;
        line-height: 46px;
    }

    .h3-about {
        font-size: 16px;
    }

    .section-services-h2 {
        font-size: 26px;
        line-height: 46px;
        text-align: center;
    }

    .section-services-item h3 {
        font-size: 16px;
    }

    .section-projects-h2 {
        font-size: 26px;
        line-height: 46px;
        text-align: center;
    }

    .section-projects-item img {
        width: 320px;
    }

    .section-projects-h2 {
        font-size: 26px;
        line-height: 46px;
        text-align: center;
    }

    .section-team-h2 {
        font-size: 26px;
        line-height: 46px;
    }

    .section-team-item-img-1, .section-team-item-img-2, .section-team-item-img-3, .section-team-item-img-4 {
        width: 200px;
    }

    .section-team-item-h3,
    .section-team-item-h3-reverse {
        font-size: 14px;
        line-height: 18px;
    }

    .section-team-item-p,
    .section-team-item-p-reverse {
        font-size: 12px;
        line-height: 20px;
    }

    .section-reviews-article-h2 {
        font-size: 26px;
        line-height: 46px;
    }

    .section-reviews-article-p {
        font-size: 14px;
        line-height: 20px;
    }

    .section-reviews-article {
        max-width: 320px;
    }

    .swiper-container {
        width: 400px;
    }

    .slider-item {
        padding: 30px;
    }

    .section-contact-h2 {
        font-size: 26px;
        line-height: 46px;
    }

    .odometer {
        font-size: 18px;
        line-height: 26px;
    }

    .section-contact-counter-p {
        font-size: 12px;
        line-height: 18px;
    }

}

@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0 100px;
    }

    .burger-burger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .top-section-name-center h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .section-projects-item img {
        width: 330px;
    }

    .section-team-item-img-1, .section-team-item-img-2, .section-team-item-img-3, .section-team-item-img-4 {
        width: 170px;
    }

    .section-contact-counter {
        width: 215px;
    }

    .footer-item-h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 36px;
    }

    .footer-item-p {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-item-h4 {
        font-size: 16px;
        line-height: 22px;
    }

    .footer-item-page {
        font-size: 14px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .wrapper {
        margin: 0 30px;
    }

    .top-section {
        min-height: 490px;
    }

    .top-section-name-center h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .section-reviews-article {
        margin: 0 0 50px 0;
        max-width: 490px;
        text-align: center;
    }

    .section-contact-counter {
        width: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .section-about-block {
        width: 100%;
        text-align: center;
    }

    .img-about {
        margin: 0 auto;
    }

    .section-services-items {
        justify-content: center;
    }

    .section-services-item {
        width: 100%;
        text-align: center;
    }

    .section-projects-top {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-team-item,
    .section-team-item-reverse {
        width: 100%;
    }

    .section-contact-counters {
        justify-content: center;
        flex-direction: column;
    }

    .section-contact-counter {
        margin: 30px 0;
    }

    .footer {
        padding: 50px;
    }

    .footer-item {
        margin: 0 20px 20px 0;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        margin: 0 20px;
    }

    .top-logo {
        font-size: 20px;
    }

    .top-section-name-center {
        width: 85%;
    }

    .section-about {
        margin: 0 0 50px 0;
    }

    .section-about-h2 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .section-services {
        margin-bottom: 50px;
    }

    .section-services-h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .section-projects {
        margin-bottom: 50px;
    }

    .section-projects-h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .section-projects-item {
        margin-bottom: 10px;
    }

    .section-projects-item img {
        width: 260px;
    }

    .section-team {
        margin-bottom: 50px;
    }

    .section-team-h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .section-team-item,
    .section-team-item-reverse {
        margin: 0 0 15px 0px;
    }

    .section-team-item-img-1, .section-team-item-img-2, .section-team-item-img-3, .section-team-item-img-4 {
        width: 140px;
    }

    .section-team-item-h3,
    .section-team-item-h3-reverse {
        font-size: 14px;
        line-height: 18px;
    }

    .section-team-item-p,
    .section-team-item-p-reverse {
        font-size: 12px;
        line-height: 18px;
    }

    .section-reviews {
        margin-bottom: 50px;
    }

    .swiper-container {
        width: 255px;
    }

    .section-contact {
        margin-bottom: 50px;
    }

    .section-contact-h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .section-contact-counters {
        margin: 30px 0 0 0;
    }

    .footer {
        padding: 30px;
    }

    .input {
        width: 215px;
    }
}

@media only screen and (max-width: 320px) {}